<div class="container mt-1 mb-2">
  <h1>Organized events</h1>

  <% @events.each do |event| %>
    Title: <%= event.title %><br/>
    Amount: <%= event.amount %><br/>
    Participants:
    <% event.participants.each do |participant| %>
      <%= participant.name %> (<%= participant.email %>)
    <% end %><br/>
    <br/>
  <% end %>

  <%= link_to "Back to menu", root_path, class:"btn btn-warning mb-1"%>
</div>
